<header>
    <div class="collapse navbar-collapse">
        <ul class="navbar-right">
            <ng-template [ngIf]="!authService.isAuthenticated()">
                <li><a routerLink="/signup">Register</a></li>
                <li><a routerLink="/signin">Login</a></li>
            </ng-template>

            <li *ngIf="authService.isAuthenticated() ">
                <a style="cursor: pointer;">Logout</a></li>

            <li class="dropdown" *ngIf="authService.isAuthenticated()">
                <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;">Save Data</a></li>
                    <li><a style="cursor: pointer;" >Fetch Data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>