<div class="content">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" *ngIf="!register; else signup">
            <h3>Log In</h3>
            <p [ngClass] = "{'has-error': (error === false ? true : false)}" style="color: red">{{error.message }} </p>
            <form
                    (ngSubmit)="onSignin(f)"
                    #f="ngForm"
                    [ngClass] = "{'has-error': (error === false ? false : true)}"
            >
                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" name="email" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            ngModel
                            class="form-control">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
            </form>
            <h4>Or</h4>
            <button type="button" (click)="onSwitch()" class="btn btn-warning">Register</button>
        </div>
        <ng-template #signup>
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <h3>Register</h3>
                <form
                        (ngSubmit)="onSignup(f)"
                        #f="ngForm"
                >
                    <div class="form-group">
                        <label for="email_registration">Mail</label>
                        <input type="email" id="email_registration" name="email" ngModel class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password_registration">Password</label>
                        <input
                                type="password"
                                id="password_registration"
                                name="password"
                                ngModel
                                class="form-control">
                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
                </form>
                <h4>Or</h4>
                <button type="button" (click)="onSwitch()" class="btn btn-warning">LogIn</button>
            </div>
        </ng-template>
    </div>
</div>

