<header>
  <div class="container">
    <div class="menu_col">
      <!--logo and company name-->
      <h1><a>{{logo}}</a></h1>
      <!--menu-->
      <div class="navbar">
        <div class="navbar-inner">
          <ul class="sf-menu">
            <li><a><i class="fa fa-home" aria-hidden="true"></i><div class="base_text">Home</div><div class="num_text">01</div></a></li>
            <li><a><i class="fa fa-trophy" aria-hidden="true"></i><div class="base_text">recommended</div><div class="num_text">02</div></a>
              <ul class="subMenu">
                <li><a>Vestibulum</a>
                  <ul class="subMenu2">
                    <li><a>archive</a></li>
                    <li><a class="last">fresh</a></li>
                  </ul>
                </li>
                <li><a>Lacinia</a></li>
                <li><a>Proin dictum </a></li>
                <li><a class="last">Elementum</a></li>
              </ul>
            </li>

            <li><a><i class="fa fa-percent" aria-hidden="true"></i><div class="base_text">Sales</div><div class="num_text">03</div></a></li>
            <li><a><i class="fa fa-list-ul" aria-hidden="true"></i><div class="base_text">Genres</div><div class="num_text">04</div></a></li>
            <li><a><i class="fa fa-users" aria-hidden="true"></i><div class="base_text">Authors</div><div class="num_text">05</div></a></li>
            <li><a><i class="fa fa-leanpub" aria-hidden="true"></i><div class="base_text">All books</div><div class="num_text">06</div></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>